@import "tailwindcss";
* {
  font-family: "Readex Pro", serif;
}

.spinner {
  border: 4px solid rgba(201, 182, 177, 0.3);
  border-top: 4px solid #e6e6e6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-bottom: 0;
  display: block;
}
.loading-placeholder {
  animation: pulse 1.5s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    background-color: #ebe9e7;
  }

  50% {
    background-color: #dfdedc;
  }

  100% {
    background-color: #ebe9e7;
  }
}
